@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: var(--font-coming-soon), Arial, Helvetica, sans-serif;
}

:root,
.radix-themes,
.light,
.light-theme {
   --lime-1: #f0f2ef !important;
   --lime-2: #ebefe8 !important;
   --lime-3: #dfe8d9 !important;
   --lime-4: #d4e0cb !important;
   --lime-5: #c8d8bd !important;
   --lime-6: #bccfaf !important;
   --lime-7: #acc29d !important;
   --lime-8: #94af81 !important;
   --lime-9: #4d643b !important;
   --lime-10: #3f552d !important;
   --lime-11: #485f36 !important;
   --lime-12: #202c17 !important;

   --lime-a1: #e1e8ff46 !important;
   --lime-a2: #0d62d40c !important;
   --lime-a3: #02624018 !important;
   --lime-a4: #065b1524 !important;
   --lime-a5: #075a0531 !important;
   --lime-a6: #0f5b0140 !important;
   --lime-a7: #16590354 !important;
   --lime-a8: #1b580172 !important;
   --lime-a9: #143301bf !important;
   --lime-a10: #142f00ce !important;
   --lime-a11: #143200c4 !important;
   --lime-a12: #091600e6 !important;

   --lime-contrast: #fff !important;
   --lime-surface: #e9eee7cc !important;
   --lime-indicator: #4d643b !important;
   --lime-track: #4d643b !important;
}

@supports (color: color(display-p3 1 1 1)) {
   @media (color-gamut: p3) {
      :root,
      .radix-themes,
      .light,
      .light-theme {
         --lime-1: oklch(96% 0.0048 132.4) !important;
         --lime-2: oklch(94.7% 0.0097 132.4) !important;
         --lime-3: oklch(91.9% 0.0213 132.4) !important;
         --lime-4: oklch(89.2% 0.0319 132.4) !important;
         --lime-5: oklch(86.4% 0.0403 132.4) !important;
         --lime-6: oklch(83.1% 0.0481 132.4) !important;
         --lime-7: oklch(78.8% 0.0559 132.4) !important;
         --lime-8: oklch(72.1% 0.0707 132.4) !important;
         --lime-9: oklch(47.3% 0.0685 132.4) !important;
         --lime-10: oklch(42.1% 0.0685 132.4) !important;
         --lime-11: oklch(45.6% 0.0685 132.4) !important;
         --lime-12: oklch(27.5% 0.0411 132.4) !important;

         --lime-a1: color(display-p3 0.8667 0.902 1 / 0.239) !important;
         --lime-a2: color(display-p3 0.0118 0.298 0.8235 / 0.041) !important;
         --lime-a3: color(display-p3 0.0078 0.3294 0.1882 / 0.086) !important;
         --lime-a4: color(display-p3 0.0078 0.3098 0.051 / 0.131) !important;
         --lime-a5: color(display-p3 0.051 0.3059 0.0039 / 0.184) !important;
         --lime-a6: color(display-p3 0.0824 0.3137 0.0039 / 0.24) !important;
         --lime-a7: color(display-p3 0.102 0.3098 0.0039 / 0.317) !important;
         --lime-a8: color(display-p3 0.1216 0.3098 0.0039 / 0.432) !important;
         --lime-a9: color(display-p3 0.0863 0.1765 0 / 0.731) !important;
         --lime-a10: color(display-p3 0.0784 0.1608 0 / 0.787) !important;
         --lime-a11: color(display-p3 0.0824 0.1725 0 / 0.753) !important;
         --lime-a12: color(display-p3 0.0353 0.0784 0 / 0.894) !important;

         --lime-contrast: #fff !important;
         --lime-surface: color(display-p3 0.9176 0.9333 0.9137 / 0.8) !important;
         --lime-indicator: oklch(47.3% 0.0685 132.4) !important;
         --lime-track: oklch(47.3% 0.0685 132.4) !important;
      }
   }
}

.rt-Text {
   color: var(--lime-3);
   line-height: var(--line-height-6);
   letter-spacing: var(--letter-spacing-6);
}
.rt-Text:not([class*="rt-r-size"]) {
   font-size: var(--font-size-6);
}

.rt-Heading {
   font-family: var(--fon-coming-soon);
}
